{% extends 'layouts/base.html' %}

{% block title %}Rate My LDO{% endblock %}
{% block meta_description %}Rate My LDO{% endblock %}

{% block body %}
</head>
<h1>Grimace says that doesn't exist!</h1>
<div align="center">
    <div class="container">
        <div class="card-columns d-flex justify-content-center">
            <div class="card" style="width: 500;">
                <img src="https://ratemyldo.s3.amazonaws.com/grimace.jpg">
            </div>
        </div>
    </div>
</div>
{% endblock %}
